##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

gslt="YOUR_GSLT"
gamemode="terrortown"
defaultmap="ttt_waterworld_remastered_2020"
maxplayers="32"
tickrate="66"
port="27015"
clientport="27005"
wsapikey="YOUR_STEAM_WEB_API_KEY"
wscollectionid="YOUR_WORKSHOP_COLLECTION_ID"
