##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

gslt="YOUR_GSLT"
gamemode="terrortown"
defaultmap="ttt_waterworld_remastered_2020"
maxplayers="32"
tickrate="66"
port="27015"
clientport="27005"
wsapikey="YOUR_STEAM_WEB_API_KEY"
wscollectionid="3698746151"

# Disable Lua Auto-Refresh to prevent massive lag spikes with 300+ mods
fn_parms() {
  parms="-game garrysmod -strictportbind -ip ${ip} -port ${port} +clientport ${clientport} +tv_port ${tvport} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers ${maxplayers} -tickrate ${tickrate} +gamemode ${gamemode} -disableluarefresh +host_workshop_collection ${wscollectionid} -authkey ${wsapikey}"
}
