##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances.

gamemode="terrortown"
wscollectionid="3698746151"
maxplayers="64"
defaultmap="ttt_simple_otat1"
