##################################
######## Common Settings #########
##################################
# PLACE GLOBAL SETTINGS HERE
## These settings will apply to all instances.

gamemode="terrortown"
wscollectionid="3698746151"
maxplayers="67"
defaultmap="ttt_terrortrain2018_final"
